body{
    width: 100%;
    height: 100%;
    z-index: 5;
    font-family: 'Montserrat'!important;
}
.vl {
    border-left: 1.5px solid darkgray;
    height: 300px;
    margin-left: 40px;
    margin-right: 40px;
}
#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 0;
}

.content{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.title{
    font-size: calc(25px + 1.5vw);
    color: rgb(69, 170, 157);
}

.text{
    font-size: calc(15px + 0.35vw);
    color: gray;
}

.link{
    text-decoration: none;
    font-size: calc(15px + 0.35vw);
    color: #45aa9d;
}

.link:hover{
    color: #45aa9d;
}

.buttons-div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.list-item{
    margin-top: 20px;
    font-size: calc(15px + 1vw);
    color: gray;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.list-item:hover{
    color: #45aa9d;
}

.icon{
    height: calc(17.5px + 1vw);
    margin-right: 20px;
    position: relative;
    top: 4px;
    filter: invert(59%) sepia(36%) saturate(539%) hue-rotate(123deg) brightness(92%) contrast(96%);
    color: #45aa9d;
}

.localization-text{
    color: black;
    padding-left: 8px;
    font-size: calc(12px + 0.2vw );
}

.localization{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -8px;
}

.pin{
    height: calc(15px + 0.7vw);
    position: relative;
    top: 10px;
    opacity: 0.8;
}

.text-item{
    margin-top:0px;
    margin-bottom: 10px;
}

#clouds{
    display: none;
}

.share{
    display: none;
}

.title-container{
    display:flex;
    flex-direction: row;
}

@media only screen and (max-width: 980px) {
    .content {
        width: 90%;
    }

    .vl {
        margin-left: 20px;
        margin-right: 20px;
    } 
}

@media only screen and (max-width: 700px) {
    .vl{
        display:none;
    }

    .buttons-div{
        display: none;
    }

    .share{
        display: flex;
        flex-direction: row;
    }

    .icon{
        position: relative;
        top: -7px;
        margin-right: 25px;
    }
    
    .title{
        margin-right: 30px;
    }
    
    .localization {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 470px) {
    .title{
        font-size: 28px;
        margin-right: 0px;
    }

    .icon{
        position: relative;
        top: -10px;
        margin-right: 0px;
        margin-left: 15px;
    }
}